.app-background {
  background-image: url("./assets/background.jpg");
  background-size: "cover";
  background-position: "center";
  opacity: 0.5;
  z-index: -1;
  height: "100%";
}

.custom-btn {
  border: 2px solid #6a1b9a;
  color: #6a1b9a;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.custom-btn.active-btn {
  background-color: #6a1b9a;
  color: white;
}

.custom-btn.inactive-btn:hover {
  background-color: #e1bee7;
  color: #6a1b9a;
}

.custom-btn:focus {
  box-shadow: 0 0 5px 2px #d500f9;
}

footer li:hover, footer li:focus {
  color: #f8f9fa;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

footer h5 {
  font-size: 1.25rem;
}

footer p {
  font-size: 0.875rem;
}

@media (max-width: 767px) {
  footer h5 {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  footer {
    padding-top: 2rem;
      padding-bottom: 2rem;
  }
}